
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="content-search-anime">
        <div class="input-group mb-3">
          <input type="text" (keyup.enter)="search()" class="form-control" [formControl]="query"
          placeholder="Search...">
          <button class="btn btn-outline-secondary border border-0 rounded-0" (click)="search()" type="button">
            <span class="material-icons">search</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-12 container-carousel">
      <app-carousel></app-carousel>
    </div>
  </div>
</div>

